$font-icons-family-name: "IconsFont";
@font-face {
	font-family: "IconsFont";
	src: url('../fonts/IconsFont.eot');
	src: url('../fonts/IconsFont.eot?#iefix') format('eot'),
		url('../fonts/IconsFont.woff2') format('woff2'),
		url('../fonts/IconsFont.woff') format('woff'),
		url('../fonts/IconsFont.ttf') format('truetype'),
		url('../fonts/IconsFont.svg#IconsFont') format('svg');
}

@mixin icon-styles {
	font-family: "IconsFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

$icon-name-arrow-right: "\E001"; 
$icon-name-basketball: "\E002"; 
$icon-name-close: "\E003"; 
$icon-name-football: "\E004"; 
$icon-name-menu: "\E005"; 
$icon-name-minus: "\E006"; 
$icon-name-plus-circle: "\E007"; 
$icon-name-plus: "\E008"; 
$icon-name-prev: "\E009"; 
$icon-name-racquet: "\E00A"; 


@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-right {
		$char: "\E001";
	}
	@if $filename == basketball {
		$char: "\E002";
	}
	@if $filename == close {
		$char: "\E003";
	}
	@if $filename == football {
		$char: "\E004";
	}
	@if $filename == menu {
		$char: "\E005";
	}
	@if $filename == minus {
		$char: "\E006";
	}
	@if $filename == plus-circle {
		$char: "\E007";
	}
	@if $filename == plus {
		$char: "\E008";
	}
	@if $filename == prev {
		$char: "\E009";
	}
	@if $filename == racquet {
		$char: "\E00A";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-right {
	@include icon(arrow-right);
}
.icon-basketball {
	@include icon(basketball);
}
.icon-close {
	@include icon(close);
}
.icon-football {
	@include icon(football);
}
.icon-menu {
	@include icon(menu);
}
.icon-minus {
	@include icon(minus);
}
.icon-plus-circle {
	@include icon(plus-circle);
}
.icon-plus {
	@include icon(plus);
}
.icon-prev {
	@include icon(prev);
}
.icon-racquet {
	@include icon(racquet);
}
