p {
    font-size: 1rem;
    color: $gray-211;
    margin-bottom: 0;
    line-height: 1.25;
    @include media-breakpoint-down(md) {
        font-size: .75rem;
    }
}

.font-family-title {
    font-family: $font-family-title;
}

.font-family-second {
    font-family: $font-family-second;
}

.fw-500 {
    font-weight: $font-weight-medium;
}

.display-1 {
    font-size: 10.875rem;
    @include media-breakpoint-down(lg) {
        font-size: 6rem;
    }
}

.display-2 {
    font-size: 3.188rem;
    @include media-breakpoint-down(lg) {
        font-size: 1.75rem;
    }
}

.display-3 {
    font-size: 1.438rem;
    @include media-breakpoint-down(lg) {
        font-size: .813rem;
    }
}

.text-secondary {
    color: $gray-126!important;
}

.text-muted {
    color: $gray-202!important;
}

@include media-breakpoint-down(md) {
    h2 {
        font-size: 1.688rem!important;
    }
    h4 {
        font-size: .875rem!important;
    }
}
