a {
    text-decoration: none;
    color: $gray-211;
    cursor: pointer;
}

textarea {
    resize: none;
}

.mw-24 {
    min-width: 1.5rem;
    @include media-breakpoint-down(md) {
        min-width: 1.688rem;
    }
}
