// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Roboto" !default;
$font-family-second: "Inter" !default;
$font-family-title: "SF Pro Display" !default;
$white: #FFFFFF;
$yellow: #FFEF60;
$green: #BCF740;
$gray-202: #CACACA;
$gray-211: #D3D3D3;
$gray-136: #888888;
$gray-126: #7E7E7E;
$black-18: #121213;
$black: #000000;
// body
$body-color-dark: $gray-202;
$body-bg-dark: $black-18;
$link-color-dark: $gray-202;
// buttons
$btn-font-weight: 600;
$btn-font-size: 1rem;
$btn-padding-x: 2rem;
$btn-padding-y: .875rem;
$btn-border-radius: 0;
$btn-color: $black!default;
$btn-link-color: $gray-202;
$btn-link-hover-color: $green;
// font sizes
$font-size-base: 1rem;
$line-height-base: 1.5;
$h1-font-size: 6.688rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.125rem;
$headings-line-height: 1;
$headings-font-weight: bold;
$headings-color: $white;
$font-weight-medium: 500;
$font-sizes: ( 1: 1.5rem, 2: 1.125rem, 3: .875rem, 4: .75rem);
$spacer: 1rem;
$spacers: ( 0: 0, 1: $spacer * .25, 2: $spacer * .5, 3: $spacer, 4: $spacer * 1.5, 5: $spacer * 3, 6: $spacer * 4.25, 7: $spacer * 10, 8: $spacer * 12.313);
// break points
$grid-breakpoints: (xxc:0, xs: 390px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px, xxxl: 1548px, xxxxl: 1920px, xxxxxl: 2560px);
// containers
$container-max-widths: (xc: 100%, sm: 540px, md: 720px, lg: 960px, xl: 1160px, xxl: 1200px, xxxl: 1375px, xxxxl: 1747px, xxxxxl: 2387px);
// dropdown
$dropdown-padding-x: 1.5rem;
$dropdown-padding-y: 1rem;
$dropdown-item-padding-y: 1rem;
$dropdown-item-padding-x: 1.5rem;
$dropdown-border-radius: 0;
$dropdown-font-size: 1rem;
$dropdown-bg: $black-18!default;
$dropdown-color: $white!default;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $green;
$dropdown-border-color: transparent;
// input
$input-padding-y: .875rem;
$input-padding-x: 1.5rem;
$input-font-size: 1rem;
$input-bg: $white;
$input-font-weight: 500;
$input-color: $black;
$input-placeholder-color: $gray-136;
$input-border-color: $green;
$input-focus-border-color: $green;
$input-focus-box-shadow: none;
$input-border-radius: none;
