.accordion-button {
    font-weight: 500;
    font-size: .875rem;
    &:focus {
        box-shadow: none;
    }
    &::after {
        display: block;
        @include icon-styles;
        content: icon-char(plus);
        color: $white;
        font-size: .688rem;
        background-image: none;
        text-align: end;
        @include media-breakpoint-down(md) {
            font-size: .688rem;
        }
    }
    &[aria-expanded=true] {
        &::after {
            content: icon-char(minus);
            color: $green;
            text-align: end;
        }
    }
    @include media-breakpoint-down(md) {
        font-size: 0.875rem;
        line-height: 1.063rem;
        border-radius: 0;
        --bs-accordion-btn-padding-x: 1.125rem;
        --bs-accordion-btn-padding-y: 1.25rem;
        --bs-accordion-inner-border-radius: 0;
    }
}

.accordion-button:not(.collapsed) {
    color: $green;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-item {
    background: $black-26;
    border: none;
    &:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &:last-of-type {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    &.accordion-collapse.collapse.show {
        background: $black-26;
    }
}

.accordion-body {
    font-size: .75rem;
}
