.accordion-button {
    font-weight: 500;
    font-size: .875rem;
    &:focus {
        box-shadow: none;
    }
    &::after {
        @include icon-styles;
        content: icon-char(arrow-down);
        color: $white;
        font-size: 2.188rem;
        background-image: none;
        @include media-breakpoint-down(md) {
            font-size: 1.5rem;
        }
    }
    @include media-breakpoint-down(md) {
        font-size: 0.875rem;
        line-height: 1.063rem;
        border-radius: .375rem;
        --bs-accordion-btn-padding-x: 1rem;
        --bs-accordion-btn-padding-y: 1.063rem;
        --bs-accordion-inner-border-radius: .375rem;
    }
}

.accordion-button:not(.collapsed) {
    color: $green;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    margin-top: -7px;
}

.accordion-item {
    background: $black-26;
    border: none;
    &:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &:last-of-type {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    &.accordion-collapse.collapse.show {
        background: $black-26;
    }
}

.accordion-body {
    font-size: .75rem;
}
