.btn {
    --bs-btn-font-size: 1.125rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: .875rem;
    @include media-breakpoint-down(lg) {
        --bs-btn-font-size: 1rem;
    }
}

.btn-link {
    font-size: 1rem;
    padding: 0;
    @include media-breakpoint-down(lg) {
        font-size: .75rem;
    }
}

.btn-dark {
    --bs-btn-color: $gray-202;
    --bs-btn-hover-color: $gray-202;
    --bs-btn-font-size: .875rem;
}

.footer {
    .btn-link {
        font-weight: 300;
        font-size: .75rem;
        padding: 0;
    }
}
